.SearchBar {
	display:flex;
	flex-Direction:column;
	justify-Content:center;
	align-items:center;
	width:100%;
	margin-top:20px;
	padding: 0 20px;
}

.SearchBar.fullscreen{
	height:100%;
	width:100%;
	margin-top:0;
}

.settings-menu{
	/* margin-top:auto; */
	/* margin-left:auto; */
	align-self:flex-end;
	top:20px;
	position:absolute;
}

.inner{
	/* height:40%; */
	align-items: center;
	justify-Content: center;
	display: flex;
	width: 60%;
	flex-Direction:column;
}

.inner.partial{
	width:50%;
	flex-direction:row;
}


.textBar{
	display:flex;
	flex-Direction:row;
	border-color:gray;
	border-radius:5;
	border-width:1;
	justify-Content:center;
	align-items:center;
	width: "100%";
}

.searchBtn{
	margin-top:20px;
}

.btnGroup{
	margin-top:20;
	display:flex;
	flex-Direction:column;
	width: 50%;
	justify-Content: center;
	align-items: center;
	padding: 5;
}
.btnGroup.partial{
	margin-top:0;
	flex:0.3;
	flex-direction:row;
	margin-bottom: 1%; /* .. it works */
}

.randomBtn{
	margin-top:10px;
}
.settingsBtn{
	margin-left:50%;
	display:flex;
	justify-Content:center;
	align-items:center
}
.top{
	height:10%;
	display:flex;
	flex-Direction:row;
}

div.ant-popover-content{
	width:200px;
}

div.ant-input-number{
	width:50px;
}