.ResultsPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultsView {
        width: '80%';
        /* height: undefined, */
        aspect-ratio: 841 / 131
    }

.loading {
    width:'100%';
    height:'100%';
    display:'flex';
    justify-content:'center';
    align-items:'center';
}

.PageCount{
    margin-bottom:20px;
}